<%= form_for(@contestant) do |form| %>
  <% if @contestant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contestant.errors.count, "error") %> prohibited this contestant from being saved:</h2>

      <ul>
      <% @contestant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  </br>
  <div class="field">
    <%= form.label :name %><br>
    <%= form.text_field :name, class:"text-center", placeholder: "Your Name"  %>
  </div>
  </br>
  <div class="field text-center">
    <%= form.label :weight %> (lbs) <br>
    <%= form.text_field :weight, class:"text-center", placeholder: "Weight in Pounds"  %>
  </div>
  </br>
  <div class="field">
    <%= form.label :height %> (inches) <br>
    <%= form.text_field :height, class:"text-center", placeholder: "Height in Inches"  %>
  </div>
  </br>
  <div class="actions">
      <%= form.submit 'PUSH', class:"btn btn-danger carnival-button" %> 
  </div>
<% end %>
