<div class="row">
  <div class="col-sm-4"></div>
  <div class="jumbotron-prediction text-center col-sm-4">
    <p class="text-warning">Hooray GenderBlender is so SMART! </p>
    <p class="text-danger"> Your information will be saved to train the GENDERBLENDER to be even smarter</p>
  </div>
  <div class="text-center navbar-fixed-bottom footer">
    <%= link_to 'New Contestant',  new_contestant_path %> |
    <%= link_to 'Contestant List', contestants_path    %> |
    <%= link_to 'View Classifier', classifier_path     %> |
    <%= link_to 'Add Trainer',     new_trainer_path    %> |
    <%= link_to 'Trainers List',   trainers_path       %>
  </div>
  <div class="col-sm-4"></div>
</div>