<div class="row">
  <div class="col-sm-3"></div>
  <div class="jumbotron text-center col-sm-6">    
    <h1>Edit Contestant</h1>

    <%= render 'form' %>


    <div class="navbar-fixed-bottom footer">
      <%= link_to 'Add Trainer',        new_trainer_path %> |
      <%= link_to 'Trainers List',      trainers_path    %> |
      <%= link_to 'Contestants List',   contestants_path %> |
      <%= link_to 'View Classifier',    classifier_path  %> 
    </div>
  </div>
  <div class="col-sm-3"></div>
</div> 
