<div class="row">
  <div class="col-sm-3"></div>
  <div class=" jumbotron text-center col-sm-6">
    <h1>Contestant List</h1>
    <h4 class="text-danger"><%= @contestants.count %> people have played this game</h4>
    
    <table class=" chart col-sm-12">
      <thead>
        <tr class="text-primary">
          <th>Name   </th>
          <th>Height </th>
          <th>Weight </th>
          <th>Destroy</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @contestants.each do |contestant| %>
          <tr>
            <td><%= contestant.name   %></td>
            <td><%= contestant.height %></td>
            <td><%= contestant.weight %></td>
            <td><%= link_to 'Destroy', contestant, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-warning"  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    </br>
    <div class="text-center navbar-fixed-bottom footer">
      <%= link_to 'New Contestant',  new_contestant_path(anchor: "play") %> |
      <%= link_to 'Contestant List', contestants_path                    %> |
      <%= link_to 'View Classifier', classifier_path                     %> |
      <%= link_to 'Add Trainer',     new_trainer_path                    %> |
      <%= link_to 'Trainers List',   trainers_path                       %>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
