<div class="row">
  <div class="col-sm-4">
  </div>
  <div class="jumbotron text-center col-sm-4">
    <h1>Step Right UP...</h1>
    <h3>Enter Your Information To Play</h3>
    
    <%= render 'form' %>
    </br>
    <%= link_to 'Add Trainer',        new_trainer_path %> |
    <%= link_to 'Trainers List',      trainers_path    %> |
    <%= link_to 'Contestants List',   contestants_path %> |
    <%= link_to 'View Classifier',    classifier_path  %> 
  </div>
  <div class="col-sm-4">
  </div>
</div>