<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contestant.name %>
</p>

<p>
  <strong>Height:</strong>
  <%= @contestant.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @contestant.weight %>
</p>

<p>
  <strong>Gender Prediction:</strong>
  <%= @prediction %>
</p>



<%= link_to 'Edit',                edit_contestant_path(@contestant) %> |
<%= link_to 'Back',                contestants_path                  %> |
<%= link_to 'See Classifier Data', classifier_path                   %> |
<%= link_to 'Train Computer',      new_trainer_path                  %>
<%= link_to 'Trainers List',       trainers_path                     %>
</br>
<%= link_to 'Correct',   correct_prediction_url(id: @contestant.id)  %> |
<%= link_to 'InCorrect', incorrect_prediction_url(id: @contestant.id)%>


