<div class="row ">  
  <div class="col-sm-3"></div>
  <div class="jumbotron text-center col-sm-6">
    <h1>Drum Roll Please...</h1>
    </br>
    <p>
      The GENDERBLENDER thinks that
      <strong><%= @contestant.name.upcase %></strong></br>
      who weighs <strong><%= @contestant.weight %></strong> lbs 
      and is <strong><%= @contestant.height %></strong> inches tall   
      Is most likely a....
    </p>
    <p>
      <strong><span id="prediction" class="text-primary"><%= @prediction.upcase %></span></strong>
    </p>
    </br>
    <%= button_to "CORRECT", correct_prediction_url(id: @contestant.id), 
      class: "btn btn-primary carnival-button", :method => :get %>
    </br>
    <%= button_to "INCORRECT", incorrect_prediction_url(id: @contestant.id), 
      class: "btn btn-primary carnival-button", :method => :get %>
    </br>
    </br>
    <div class="navbar-fixed-bottom footer">
      <%= link_to 'Contestant List', contestants_path  %> |
      <%= link_to 'View Classifier', classifier_path   %> |
      <%= link_to 'Add Trainer',     new_trainer_path  %> |
      <%= link_to 'Trainers List',   trainers_path     %>
    </div>
  </div>
  <div class="col-sm-3"></div> 
</div>
