<h1>Classifier from Training Data</h1>
<table>
  <thead>
    <tr>
      <th>Gender</th>
      <th>Height Mean</th>
      <th>Height Variance</th>
      <th>Weight Mean</th>
      <th>Weight Variance</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>male</td>
        <td><%=  male_height_mean      %></td>
        <td><%=  male_height_variance  %></td>
        <td><%=  male_weight_mean      %></td>
        <td><%=  male_weight_variance  %></td>
      </tr>
      <tr>
        <td>female</td>
        <td><%= female_height_mean     %></td>
        <td><%= female_height_variance %></td>
        <td><%= female_weight_mean     %></td>
        <td><%= female_weight_variance %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Train Computer', new_trainer_path %> |
<%= link_to 'Be a Contestant', new_contestant_path %> |
<%= link_to 'See Classifier Data', classifier_path %> 
<%= link_to 'Trainers List', trainers_path %>
