<div class="row">
  <div class="col-sm-3"></div>
  <div class="jumbotron text-center col-sm-6">    
    <h1>Trainer List</h1>

    <table class="chart">
      <thead>
        <tr class="text-primary">
          <th>Gender</th>
          <th>Weight</th>
          <th>Height</th>
          <th>Show</th>
          <th>Edit</th>
          <th>Destroy</th>
          <th colspan="6"></th>
        </tr>
      </thead>

      <tbody>
        <% @trainers.each do |trainer| %>
          <tr>
            <td><%= trainer.gender %></td>
            <td><%= trainer.weight %></td>
            <td><%= trainer.height %></td>
            <td><%= link_to 'Show', trainer, class:"text-warning" %></td>
            <td><%= link_to 'Edit', edit_trainer_path(trainer), class:"text-warning"  %></td>
            <td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' }, class:"text-warning"  %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <div class="text-center navbar-fixed-bottom footer">
      <%= link_to 'New Contestant',  new_contestant_path(anchor: "play") %> |
      <%= link_to 'Contestant List', contestants_path                    %> |
      <%= link_to 'View Classifier', classifier_path                     %> |
      <%= link_to 'Add Trainer',     new_trainer_path                    %> |
      <%= link_to 'Trainers List',   trainers_path                       %>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div> 



