<div class="row ">  
  <div class="col-sm-3"></div>    
  <div class="jumbotron text-center col-sm-6">
    <h1>Selected Trainer</h1>
    </br>
    <p>
      <strong>Gender:</strong>
      <%= @trainer.gender %>
    </p>

    <p>
      <strong>Weight:</strong>
      <%= @trainer.weight %>
    </p>

    <p>
      <strong>Height:</strong>
      <%= @trainer.height %>
    </p>

    <div class="text-center navbar-fixed-bottom footer">
      <%= link_to 'New Contestant',  new_contestant_path(anchor: "play") %> |
      <%= link_to 'Contestant List', contestants_path                    %> |
      <%= link_to 'View Classifier', classifier_path                     %> |
      <%= link_to 'Add Trainer',     new_trainer_path                    %> |
      <%= link_to 'Trainers List',   trainers_path                       %>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div> 

